.main-editor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}

.editor-box{
    width: 850px;
    min-height: 550px;
    box-shadow: #00000030 0 10px 20px, #0000003b 0 6px 6px;
    margin-top: 20px;
    border-radius: 20px;
    padding: 30px 10px;
    overflow: hidden;
}

.editor-heading-box{ 
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    text-align: center;
    font-size: 18px;
    padding: 0px 15px;
    line-height: 20px;
    position: relative;
}

hr{
    border-width: 1px solid;
    margin: 0px 10px;
}

.header-links{
    cursor: pointer;
}

/* active span class and extra css */
.active{
    color: #0080ff;
    transform: translateY(-2px);
    transition: 0.3s ease-in-out;
}

.lable_box{
    padding-top: 10px;
}

.dynamic-label{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .6px;
    font-style: italic;
    margin: 15px;
}

.check-box{
    border: 1px solid red;
}

.check-box label{
    border: 2px solid green;
}

.check-box label{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .6px;
    font-style: italic;
    margin: 15px;
}

.leave{
    font-style: italic;
    transform: none;
    transition: 0.3s ease-in-out;
}

.header-boder{
    position: absolute;
    display: none;
    border: 2px solid #0080ff;
    border-radius: 5px;
    bottom: 15px;
    transition: 0.3s ease-in-out;
}

.save-btn{
    background-color: #0080ff;
    color: white;
    padding: 8px 15px;
    border:none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-left: 10px;
    margin-top: 20px;
}

.save-btn:hover{
    transform: translateY(-10px);
    background-color: #4ea8fc;
    transition: 0.3 ease-in-out;
}


/* form styling */
.form-row{
    display: flex;
    gap: 2px;
}


/* media query */
@media (max-width:925px){
    .editor-box{
        width: 750px;   
    }

    .header-boder{
        bottom: 8px;
    }
}

@media (max-width:820px){
    .editor-box{
        width: 650px;   
    }
}


@media (max-width:720px){
    .editor-box{
        width: 550px;   
    }
}

@media (max-width:620px){
    .editor-box{
        width: 450px;   
    }

    .form-row{
        flex-wrap: wrap;
    }
}

@media (max-width:520px){
    .editor-box{
        width: 350px;   
    }
}

@media (max-width:420px){
    .editor-box{
        width: 300px;   
    }
}

@media (max-width:320px){
    .editor-box{
        width: 280px;   
    }
}