@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

:root {
  --spanColor: linear-gradient(to right, #007bff, #2b85d8);
}